html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.main {
    overflow-y: auto;
    margin-top: 3.75rem;
    margin-bottom: 3.375rem;
}

footer .alert {
    margin-bottom: 0rem;
}

.card-img-top {
    height: 300px !important;
    object-fit: cover;
}